/* LoginPage.css */

/* Animation for login container */
.login-container {
    animation: slideIn 0.5s ease;
    align-items: center;
    padding-top: 100px;
    padding-right: 500px;
    padding-left: 600px;
    padding-bottom: 200px;
  }
  
  /* Keyframes for slide-in animation */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Styles for header, input fields, error message, and button */
  .login-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  select,input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  select{
    background-color: white;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for button hover effect */
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  